.home-background{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    
}



.home-right{
    border-style: solid;
    border-color: aquamarine;
    height: 100vh;
    width: 75%;
    /* flex-grow: 1; */
}
.home-videos{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    background-color:#f9f9f9;
    padding: 0px;
    padding-top: 20px;
    overflow: auto;
    height: 100vh;
    
}
.home-banner{
    background-image: url("https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png");
    background-size: cover;  /* Ensures the image covers the entire div */
    background-position: left; /* Centers the image */
    width: 100%;  /* Set width */
    height: 250px; /* Set height */

}